/*Formato de la barra de navegación */
.navbar{
    display: flex;
    left: 0;
    right: 0;
    justify-content: center;
    background-color: #87CEEB;
}
.nav-item {
    display: grid;
    left: 0;
    right: 0;
    margin: 1rem, 1rem, 1rem, 1rem;
    justify-content: space-around;
    align-items: center;
}
.nav-link{
  font-weight: bold;
}

/*Formato para las tarjetas de presentación de los pokémons */
.card {
    display: grid;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 15px;
    cursor: pointer;
    transition: transform 0.2s;
}
#pokemon-cards-container {
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
}

#pokemon-detail-container .detail-info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pokemon-detail-container .detail-info img {
    max-width: 200px;
    height: auto;
    margin-bottom: 20px;
}

#pokemon-detail-container .detail-info p {
    margin: 5px 0;
    font-size: 1.1em;
}

#pokemon-detail-container .detail-info strong {
    color: #e74c3c;
}

img { 
    display: grid;
    max-width: 100%;
    height: auto;
    align-items: center;
}
.imagPoke {
    max-width: 120px;
    height: auto;
}

/* Formatos para botones de paginación */
.pagination-controls {
    text-align: center;
    margin-top: 20px;
}

.pagination-controls button {
    background-color:  #87CEEB;
    color:black;
    border: none;
    padding: 10px 20px;
    margin: 0 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.pagination-controls button:hover {
    background-color:blue;
}

.pagination-controls button:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
}
button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
/* Estilos media query responsivos para dispositivos móviles */
/* Pequeñas pantallas de celulares */
@media (max-width: 576px) {
  .pk-name {
    font-size: 0.5rem;
  }

  .pk-img {
    max-width: 100%;
    height: auto;
    font-weight: bold;
  }

  .card {
    padding: 10px;
  }

  .card-body p {
    font-size: 0.9rem;
  }
  .form-control {
    width: 90% !important;
    font-size: 0.9rem;
  }

  .trainer,
  .container {
    width: 95% !important;
    height: auto;
    padding: 1rem;
  }
}


/* Pantallas medianas de tabletas */
@media (min-width: 577px) and (max-width: 992px) {
  .pk-name {
    font-size: 1rem;
    font-weight: bold;
  }

  .pk-img {
    max-width: 80%;
  }

  .card-body p {
    font-size: 1rem;
  }
    .form-control {
    width: 80% !important;
    font-size: 1rem;
  }

  .trainer,
  .container {
    width: 85% !important;
    height: auto;
    padding: 1.5rem;
  }
}

/* Pantallas grandes de escritorio */
@media (min-width: 993px) {
  .pk-name {
    font-size: 1.6rem;
    font-weight: bold;
  }

  .pk-img {
    max-width: 60%;
  }

  .card-body p {
    font-size: 1.1rem;
  }
}

/* Formato para el formulario de agregar entrenador (agregarEntrenad.html) */
.trainer {
    background-color:#f3f2a5;
    width: 42rem;
    height: 30rem;
    
}

.form-control {
    border-radius: 8px;
    border: 1px solid #ddd;
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 10px;
    width: 40rem;
    
}
.trainer button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
}
/* Formato para el formulario de agregar Equipos (agregarEquipo.html) */
.container{
  background-color: #faeb99;
opacity: 0.8;
width: 44%;
}
.form-label{
  font-weight: bold;
  color: #333;
}
.formularioEquipo button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}
